body {
    font-family: Arial, sans-serif;
    background-color: #e1b1f759;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color: #0e0ae436;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #07048f;
}

label {
    display: block;
    margin-top: 4px;
}

input[type="number"] {
    width: 95%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0976f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #04baf1;
}

#result {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}